@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background: linear-gradient(to right, #b79891, #94716b); }

.container {
  background-color: #bc302e;
  border: 10px solid #979c96;
  padding: 3em;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }

.date {
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
  background-color: #50545b;
  color: #e1d8c5;
  margin-bottom: 1em; }

.clock {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: 150px;
  column-gap: 1em; }

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 7em;
  background-color: #e1d8c5;
  border-radius: 5px;
  padding: 0.2em; }
